.edcpanes_left {
  float: left;
  width: 192px;
}
.edcmainpane {
  float: left;
  margin-bottom: 16px;
  margin-left: 22px;
  width: 542px;
}
.edcpane {
  border: 1px solid #b4b9c0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 10pt;
  overflow: hidden;
  padding: 2px;
  width: 100%;
}
.edctitlebar {
  background: url(images/subheader.png) repeat-x;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  margin: 1px;
  padding: 1px 1px 1px 2px;
  text-transform: uppercase;
  color: white;
}
.gameEntry {
  padding: 8px 12px;
}
.edcGameThumb {
  width: 154px;
  height: 96px;
}
.edcGameImage {
  float: left;
  margin: 4px 16px 10px 0px;
}
.edcContent {
  padding: 8px;
}
.edcAvatar {
  margin: 12px;
}
.edcComment {
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    margin: 6px 1px;
}
.edcCommentAvatar {
    background-color: #EEEEEE;
    text-align: center;
    vertical-align: top;
    width: 96px;
}
.edcCommentBody {
  font-size: 10pt;
  text-align: left;
  vertical-align: top;
  padding: 4px;
}
.edcCommentByline {
  clear: both;
  background-color: #DDDDDD;
  font-size: 8pt;
}
.edcBadges {
  background-color: white;
  border: 1px solid black;
  padding: 6px;
  margin: 3px;
}
.edcBlog {
  border: 3px double black;
  padding: 8px;
  margin: 12px 0px;
  font-size: 10pt;
  overflow: auto;
}
.edcBlogTitle {
  margin: 0 0 4px 0;
  padding: 0;
}
.edcBlogDate {
  font-size: 8pt;
}
.edcBlogOptions {
  font-size: 8pt;
  text-align: right;
}
.edcGameTitle {
  margin: 0 0 8px 0;
  padding: 0;
}
.edcGameFooter {
  clear: both;
}
.edcSmallInfo {
  font-size: 8pt;
  font-style: italic;
}
.ajaxNotice {
  border: 8px solid #808080;
  background-color: #C0C0C0;
  padding: 8px;
}
.edc-error, .edc-notice, .edc-success {
  border: 1.5px solid;
  border-radius: 8px;
  padding: 8px;
  margin: 4px;
}
.edc-notice {
  border-color:     #888;
  background-color: #DDD;
}
.edc-error {
  border-color:     #902820;
  background-color: #E0B0A8;
}
.edc-success {
  border-color:     #208028;
  background-color: #A8E0B0;
}
.thumbnailcell {
  border-top: 3px double #0000C0;
  padding: 4px;
  width: 162px;
  height: 104px;
}
.bylinecell {
  border-top: 3px double #0000C0;
  border-bottom: 1px solid #0000C0;
  margin-right: 4px;
  vertical-align: bottom;
  padding: 3px; height: 16px;
}
.descriptioncell {
  border-bottom: 3px double #0000C0;
  padding: 3px;
  height: 80px;
}
.descpreview { overflow: hidden; height: 80px; }
.screenshot {
  max-width: 154px;
  max-height: 154px;
  float: left;
  margin: 3px;
}

a, a:visited {
  color: navy;
}
a:active, a:hover {
  color: #FF0000;
}

.edc_activity {
    border: 1px solid #C0C0C0;
    padding: 1px;
    min-height: 48px;
    margin: 1px 0;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.activity_icondiv {
    float: left;
    display: inline-block;
    width: 48px;
    height: 48px;
}
.activity_datadiv {
    float: right;
    width: 90%;
    display: inline-block;
    padding: 0 1px;
}
.activity_message {
    min-height: 32px;
}
.activity_footer {
    background: #CCC;
    height: 16px;
    font-size: small;
    width: 100%
}
.activity_icon {
    width: 48px;
    height: 48px;
}
